@inject Microsoft.Extensions.Configuration.IConfiguration configuration;
<!DOCTYPE html>

<html>
<head>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-K4JSST6');</script>
    <!-- End Google Tag Manager -->


    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Stylesheets -->
    
    <link href="~/css/main.5c80ae3dcebf356703a2.css" rel="stylesheet" />
    
    <!-- End Stylesheets -->
</head>
<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K4JSST6"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->





    <section>
        <div>
            <nav class="navbar is-light">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item">
                            <img src="~/img/logo.png" alt="Logo">
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenuHero10">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenuHero10" class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item is-active" asp-controller="Home" asp-action="Index">
                                RTree
                            </a>
                            <a class="navbar-item" href="https://github.com/dsergio/rtree-java/wiki/N-Dimensional-R-Tree" target="_blank">
                                Wiki
                            </a>
                            <a class="navbar-item" href="https://github.com/dsergio/rtree-java" target="_blank">
                                Github
                            </a>

                            <div class="navbar-item has-dropdown is-hoverable">
                                <div class="navbar-link">
                                    More
                                </div>
                                <div id="moreDropdown" class="navbar-dropdown ">
                                    <a class="navbar-item " href="https://dsergio.co/portfolio/site/" target="_blank">
                                        <div class="level is-mobile">
                                            <div class="level-left">
                                                <div class="level-item">
                                                    <p>
                                                        <strong>Portfolio</strong>
                                                        <br>
                                                        <small>See other projects</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                    <a class="navbar-item " href="http://dsergio-rtree-api-boot.azurewebsites.net/swagger-ui/index.html" target="_blank">
                                        <div class="level is-mobile">
                                            <div class="level-left">
                                                <div class="level-item">
                                                    <p>
                                                        <strong>Spring Boot API</strong>
                                                        <br>
                                                        <small>See Swagger</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <span class="navbar-item">
                                <a class="button is-primary is-inverted" href="https://github.com/dsergio/rtree-java/archive/master.zip">
                                    <span class="icon">
                                        <i class="fab fa-github"></i>
                                    </span>
                                    <span>Download</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Hero content: will be in the middle -->
        <div class="hero is-light">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title">
                        N-Dimensional R-Tree
                    </h1>
                    <h2 class="subtitle">
                        Web App
                    </h2>
                </div>
            </div>
            <!-- Hero footer: will stick at the bottom -->
            <div class="hero-foot">
                <nav class="tabs">
                    <div class="container">
                        <ul>
                            <li class="is-active">
                                <a asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="is-active">
                                <a asp-controller="RTree" asp-action="Index">App</a>
                            </li>
                            <li>
                                <a asp-controller="Examples" asp-action="Index">Examples</a>
                            </li>
                            <li>
                                <a asp-controller="Description" asp-action="Index">Description</a>
                            </li>
                            <li>
                                <a asp-controller="Design" asp-action="Index">Design</a>
                            </li>
                            <li>
                                <a asp-controller="Analytics" asp-action="Index">Analytics</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </section>





    @*<nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" asp-controller="Home" asp-action="Index">
                RTree
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarRTree">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarRTree" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" asp-controller="Home" asp-action="Index">Home</a>
                <a class="navbar-item" asp-controller="RTree" asp-action="Index">RTree List</a>
            </div>
        </div>
    </nav>*@









    <section class="section">
        <div class="content">
            @RenderBody()
        </div>
    </section>










    <script>
        var apiUrl = "@(configuration["ApiUrl"])";
    </script>
    <!-- Scripts -->
    
    <script src="~/js/main.5c80ae3dcebf356703a2.js"></script>
    
    <!-- End Scripts -->

    @RenderSection("scripts", required: false)
    @RenderSection("threescripts", required: false)

</body>
</html>
